@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font-family: Lato;
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2em;
}

h1 {
}

h2 {
  margin-left: .75em;
  font-weight: 400;
  line-height: .55em;
}

h3 {
  margin-left: 1.75em;
  font-weight: 300;
  line-height: 1.5em;
}

h4 {
  margin-left: 2.25em;
  font-weight: 300;
  line-height: 1em;
}

h5 {
  margin-left: 3em;
  font-weight: 300;
  line-height: 1em;
}

h6 {
  margin-left: 3em;
  font-weight: 300;
  line-height: 1em;
}
